<% provide(:title, "登録") %>
<%= render 'layouts/header' %>
<h1>事業所の追加</h1>
<div class="blog-form">
    <%= form_for(@office) do |f| %>
      <div>事業所名</div>
      <%= f.text_field :name %>
      <div>電話番号</div>
      <%= f.telephone_field :phone_number %>
      <div>住所</div>
      <%= f.text_field :address %>
      <br>
      <%= f.submit "登録", class: "btn btn-primary" %>
      <%= link_to blogs_path, class: 'operator' do %>
        <button>戻る</button>
      <% end %>
    <% end %>
</div>