<%= render 'layouts/header' %>
<div class="blog-form">
<%= form_with(model: @blog, local: true) do |form| %>
  <div class="office">
    <div class="form-tag">事業所</div>
    <%= form.select :office_id, options_from_collection_for_select(Office.all, :id, :name) %>
  </div>
  
  <div class="division">
    <div class="form-tag">支援区分</div>
    <%= form.text_field :division %>
  </div>

  <div class="time">
    <div class="form-tag">時間</div>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>
  <%= link_to @blog, class: 'operator' do %>
    <button>戻る</button>
  <% end %>
  
<% end %>
</div>