<p id="notice"><%= notice %></p>
<div class="show">
<p>
  <strong>支援区分</strong>
  <%= @blog.division %>
</p>

<p>
  <strong>日時</strong>
  <%= @blog.start_time.strftime("%m-%d-%-H:%M") %>
</p>

<%= link_to 'edit', edit_blog_path(@blog) %>
<%= link_to 'delete', blog_path(@blog.id), method: :delete, data: { confirm: 'Sure?' } %>
<%= link_to 'back', blogs_path%>
</div>